<!DOCTYPE html>
<html>

<head>
	<title>新增{if condition="$label == 1"}标签{else /}分类{/if}</title>
	{include file="common/head" /}
</head>

<body>
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md6">
				<form>
					<div class="layui-card">
						{if condition="$label == 1"}
							<div class="layui-card-header">所属分类</div>
							<div class="layui-card-body layui-row layui-col-space10">
								<div class="layui-col-md12 layui-form">
									<select name="pid" id="pid" lay-verify="" lay-filter="pid">
										{volist name="cate" id="vo"}
											{if condition="$vo.pid == 0 && $vo.id == $id"}
												<option value="{$vo.id}" selected>{$vo.pre}{$vo.name}</option>
											{/if}
										{/volist}
									</select>
								</div>
							</div>
							<div class="layui-card-header">背景色</div>
							<div class="layui-card-body layui-row layui-col-space10">
								<div class="layui-col-md12" style="display: flex;">
									<input type="text" name="background" autocomplete="off" class="layui-input">
									<div id="colorpicker"></div>
								</div>
							</div>
						{else /}
							<input type="hidden" name="pid" value="0">
						{/if}
						<div class="layui-card-header">{if condition="$label == 1"}标签名称{else /}分类名称{/if}</div>
						<div class="layui-card-body layui-row layui-col-space10">
							<div class="layui-col-md12">
								<input type="text" name="name" placeholder="请输入{if condition='$label == 1'}标签名称{else /}分类名称{/if}" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-card-header">排序</div>
						<div class="layui-card-body layui-row layui-col-space10">
							<div class="layui-col-md12">
								<input type="text" name="sort" value="0" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-card layui-form">
							<div class="layui-card-header">是否启用</div>
							<div class="layui-card-body layui-row layui-col-space10">
								<div class="layui-col-md12">
									<input type="radio" name="status" value="1" title="启用" checked>
									<input type="radio" name="status" value="0" title="禁用">
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	{include file="common/foot" /}
	<script>
		layui.config({
			base: '/static/admin/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use(['colorpicker', 'index', 'jquery', 'form'], function () {
			var $ = layui.$
				, admin = layui.admin
				, element = layui.element
				, colorpicker = layui.colorpicker
				, form = layui.form;
			colorpicker.render({
				elem: '#colorpicker', //绑定元素
				color: 'blue',
				change: function(color){
			      $('input[name="background"]').val(color)
			    }
			});
			form.render(null, 'component-form-element');
			element.render('breadcrumb', 'breadcrumb');

			form.on('submit(component-form-element)', function (data) {
				layer.msg(JSON.stringify(data.field));
				return false;
			});
			form.render('select');
		});
	</script>
</body>

</html>