<!DOCTYPE html>
<html>
<head>
    <title>姚海培博客</title>
    <meta name="keywords" content="姚海培博客,技术博客,个人博客">
    <meta name="description" content="姚海培博客,技术博客,个人博客">
    {include file="common/head" /}
</head>
<body>
<!--导航-->
{include file="common/menu" /}

<!--内容-->
<div class="container middle">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <!-- banner -->
                <div id="banner" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {volist name="banner" id="vo" key="k"}   
                            <li data-target="#banner" data-slide-to="{$k-1}" {if condition='$k-1 eq 0'}class="active"{/if} ></li>    
                        {/volist}
                    </ol>
                    <div class="carousel-inner">
                        {volist name="banner" id="vo" key="k"}
                            <div class="carousel-item {if condition='$k eq 1'}active{/if}" >
                                <img class="d-block w-100" src="{$vo.img}">
                            </div>         
                        {/volist}
                    </div>
                    <a class="carousel-control-prev" href="#banner" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#banner" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="row mt15 mb15">
                <div class="col-md-12 bgc">
                    <div class="new">
                        <span><i class="el-certificate"></i></span>
                        <span>最新文章</span>
                        <small>New Article</small>
                    </div>
                </div>
            </div>
            <div class="row ">
                <ul class="art-list">
                    {volist name="articleList" id="vo" key="key"}
                        <li class="media">
                            <div class="art-img">
                                <a href="{:url('Index/detail/index',array('id' => $vo.id))}">
                                    <img src="{$vo.img}">
                                </a>
                            </div>
                            <div class="media-body art-content">
                                <a class="title" href="{:url('Index/detail/index',array('id' => $vo.id))}">{$vo.title}</a>
                                <p>{:strip_tags($vo.content)}</p>
                                <ul class="media-foot">
                                    <li class="foot-fast">
                                        <div class="item">
                                            <i class="el-time"></i>
                                            {:date('Y-m-d H:i:s',$vo.createtime)}
                                        </div>
                                        <div class="item">
                                            <i class="el-user"></i>
                                            {$vo.author}
                                        </div>
                                        <div class="item">
                                            <i class="el-tags"></i>
                                            {$vo.lable | TemplateLable}
                                        </div>
                                        
                                    </li>
                                    <li class="foot-end">
                                        <a href="{:url('Index/category/index',array('id' => $vo.id))}" title="{$vo.classifyName}">
                                            <i class="el-th-list"></i>
                                            {$vo.classifyName}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {/volist}
                </ul>
            </div>
            {if condition='$articleCount > 10'}
                <div id="pagination1" class="page fl"></div>
                <script type="text/javascript">
                    $(function() {
                        var totalPage;
                        {$articleCount}%10 > 0 ? totalPage = parseInt({$articleCount}/10+1) : totalPage = parseInt({$articleCount}/10)
                        $("#pagination1").pagination({
                            currentPage: {$page},
                            totalPage: totalPage,
                            callback: function(current) {
                                window.location.href='?page='+current;
                            }
                        });
                    });
                </script>
            {/if}
        </div>
        <!--右边-->
        {include file="common/right" /}
    </div>
</div>
<!--底部-->
{include file="common/foot" /}
</body>
</html>