<ul class="label">
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
    <li><a href="#">93高考网</a></li>
</ul>