<!DOCTYPE html>
<html>

<head>
    <title>修改个人信息</title>
    {include file="common/head" /}
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <form>
                    <input type="hidden" name="id" value="{$info['id']}" />
                    <div class="layui-card">
                        <div class="layui-card-header">用户名</div>
                        <div class="layui-card-body layui-row layui-col-space10">
                            <div class="layui-col-md12">
                                <input type="text" name="username" readonly="readonly" placeholder="请输入用户名" autocomplete="off" class="layui-input" value="{$info['username']}">
                            </div>
                        </div>
                        <div class="layui-card-header">密码</div>
                        <div class="layui-card-body layui-row layui-col-space10">
                            <div class="layui-col-md12">
                                <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input" value="!@douwen">
                            </div>
                        </div>
                        <div class="layui-card-header">真实姓名</div>
                        <div class="layui-card-body layui-row layui-col-space10">
                            <div class="layui-col-md12">
                                <input type="text" name="truename" placeholder="请输入真实姓名" autocomplete="off" class="layui-input" value="{$info['truename']}">
                            </div>
                        </div>
                        <div class="layui-card-header">手机号</div>
                        <div class="layui-card-body layui-row layui-col-space10">
                            <div class="layui-col-md12">
                                <input type="number" name="mobile" placeholder="请输入手机号" autocomplete="off" class="layui-input" value="{$info['mobile']}">
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    {include file="common/foot" /}
    <script>
        layui.config({
            base: '/static/admin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form'], function () {
            var $ = layui.$
                , admin = layui.admin
                , element = layui.element
                , form = layui.form;

            form.render(null, 'component-form-element');
            element.render('breadcrumb', 'breadcrumb');

            form.on('submit(component-form-element)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });
    </script>
</body>

</html>